@page "/duty"

<MudText Typo="Typo.h3">Duty</MudText>

<div class="mud-width-full px-5 d-flex flex-column justify-between">
   <MudTextField @bind-Value="@_state.Title" Label="Title" HelperText="A title to remind you the duty goal" Variant="Variant.Text" />

</div>
